@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: auto;
  color-scheme: light;
  scroll-padding-top: 100px;
}

html.dark {
  color-scheme: dark;
}

html,
body {
  @apply size-full;
}

body {
  @apply font-sans antialiased;
  @apply flex flex-col;
  @apply bg-stone-100 dark:bg-stone-900;
  @apply text-stone-800 dark:text-stone-100;
}

header {
  @apply fixed left-0 right-0 top-0 z-50 py-6;
  @apply bg-stone-200/95 dark:bg-stone-800/95;
  @apply backdrop-blur-md;
  @apply border-b border-stone-300/50 dark:border-stone-700/50;
}

main {
  @apply flex-1 py-32 pt-36;
}

footer {
  @apply py-6 text-sm;
}

article {
  @apply prose prose-stone max-w-full dark:prose-invert prose-img:mx-auto prose-img:my-auto;
  @apply prose-headings:font-semibold;
  @apply prose-headings:text-stone-900 prose-headings:dark:text-stone-100;
}

@layer utilities {
  article a {
    @apply font-sans text-stone-700 underline underline-offset-[3px] dark:text-stone-300;
    @apply decoration-stone-600/40 dark:decoration-stone-500/40;
    @apply transition-colors duration-300 ease-in-out;
  }
  article a:hover {
    @apply text-stone-900 dark:text-stone-100;
    @apply decoration-stone-700/60 dark:decoration-stone-400/60;
  }
}

.animate {
  @apply -translate-y-3 opacity-0;
  @apply transition-all duration-300 ease-out;
}

.animate.show {
  @apply translate-y-0 opacity-100;
}

html #back-to-top {
  @apply pointer-events-none opacity-0;
}

html.scrolled #back-to-top {
  @apply pointer-events-auto opacity-100;
}

/* shiki config */
pre {
  @apply border border-black/15 py-5 dark:border-white/20;
}

:root {
  --astro-code-color-text: #1c1917;
  --astro-code-color-background: #fef3c7;
  --astro-code-token-comment: #78716c;
  --astro-code-token-keyword: #b45309;
  --astro-code-token-string: #15803d;
  --astro-code-token-function: #92400e;
  --astro-code-token-constant: #a16207;
  --astro-code-token-parameter: #b45309;
  --astro-code-token-string-expression: #92400e;
  --astro-code-token-punctuation: #57534e;
  --astro-code-token-link: #a16207;
}

.dark {
  --astro-code-color-text: #fef3c7;
  --astro-code-color-background: #292524;
  --astro-code-token-comment: #a8a29e;
  --astro-code-token-keyword: #fbbf24;
  --astro-code-token-string: #84cc16;
  --astro-code-token-function: #fcd34d;
  --astro-code-token-constant: #fbbf24;
  --astro-code-token-parameter: #facc15;
  --astro-code-token-string-expression: #fde047;
  --astro-code-token-punctuation: #d6d3d1;
  --astro-code-token-link: #fbbf24;
}

/* copy code button on codeblocks */
.copy-code {
  @apply absolute right-3 top-3 grid size-9 place-content-center rounded border border-stone-300/30 bg-stone-200 text-center duration-300 ease-in-out dark:border-stone-700/30 dark:bg-stone-800;
}

.copy-code:hover {
  @apply bg-stone-300 transition-colors dark:bg-stone-700;
}

.copy-code:active {
  @apply scale-90 transition-transform;
}

/* Remove top margin from h3 in article */
article h3 {
  margin-top: 0 !important;
}
